<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PhotoHome</title>
</head>
<body>
    <h2>Photo</h2>
    <p><a href="/upload">uploadPics</a></p>
    <p><a href="/show">checkPics</a></p>
    <p><a href="/add">newFiles</a></p>
    <p><a href="/delete">delFiles</a></p>
</body>
</html>