<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShowPics</title>
</head>
<body>
    <h2>ShowPics</h2>
    <p>
        <img src="" alt="">
        Please select files:
        <select name="dirname" id="dirname">
            <%for(var i=0;i<dirList.length;i++){%>
                    <option value="<%=dirList[i]%>"><%=dirList[i]%></option>
                <%}%>
        </select>
    </p>
    <div id="showimg"></div>
</body>
<script src="/js/jquery-1.12.4.js"></script>
<script>
    $("#dirname").change(function(){
        var dirname=$(this).val();
        $.get("/getPicture","dirname="+dirname,function(data){
            // console.log(data);
            var str='';
            for(var i=0;i<data.result.length;i++){
                str+="<img src='/"+dirname+"/"+data.result[i]+"'/>"
            }
            $("#showimg").html(str);
        })
    })
</script>
</html>