<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UploadPics</title>
</head>

<body>
    <h2>Upload</h2>
    <form action="/uploadPicture" method="POST" enctype="multipart/form-data">
        <p>
            select Files:
            <select name="dirname" id="dirname">
                <%for(var i=0;i<dirList.length;i++){%>
                    <option value="<%=dirList[i]%>"><%=dirList[i]%></option>
                <%}%>
            </select>
        </p>
        <p>
            select uploadPics:
            <input type="file" name="pics">
        </p>
        <p>
            <button type="submit">upload</button>
        </p>
    </form>

</body>

</html>